<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="../../favicon.ico">

      <title>Daekun's Starter Template for NodeJs Web App</title>

      <!-- Bootstrap core CSS -->
      <link href="css/bootstrap.min.css" rel="stylesheet">
      
      <!-- Font Awesome -->
      <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">

      <!-- Custom styles for this template -->
      <link href="css/main.css" rel="stylesheet">
  </head>

  <body>
    <% include partials/menu %>
    <div class="container">
      <div id="syncer-wrapper" style="margin-top: 50px">
        <div id="yt-syncer">
          <div id="player"></div>

          <div id="controls">
            <div id="control-buttons" class="btn-group">
              <button type="button" class="btn btn-default" onclick="socket.emit('play')">
                <span class="fa fa-play" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-default" onclick="socket.emit('pause')">
                <span class="fa fa-pause" aria-hidden="true"></span>
              </button>
            </div>  
            <div id="progress-bar">
              <div id="line"></div>
              <div id="square"></div>
            </div>
          </div>
        </div>
      </div>

    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script>
      var socket = io();

      // Load the IFrame Player API code asynchronously.
      var tag = document.createElement('script');
      tag.src = "https://www.youtube.com/player_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // Replace the 'ytplayer' element with an <iframe> and
      // YouTube player after the API code downloads.
      var player;
      function onYouTubePlayerAPIReady() {
        console.log("Player loading");

        player = new YT.Player('player', {
          height: '480',
          width: '640',
          videoId: 'ytZsndEc830',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      function onPlayerReady() {
        setInterval(updateProgressBar, 60);
      }

      function updateProgressBar() {
        var squarePosition = 540 * (player.getCurrentTime() / player.getDuration());
        $("#square").css("left", squarePosition);
      }

      function onPlayerStateChange(event) {
        if (event.data == 5) {
          socket.emit('buffer ended');
        }
      }

      $(() => {
        $('#line').click(function (e){
          var elm = $(this);
          var pos = e.pageX - elm.offset().left;
          var seconds = player.getDuration() * pos / 540.0;
          
          socket.emit('move to', seconds);
        });

        socket.on('move to', (seconds) => {
          player.seekTo(seconds);
          player.pauseVideo();
        });

        socket.on('play', () => {
          player.playVideo();
        });

        socket.on('pause', () => {       
          player.pauseVideo();
        });
        
      });
    </script>
  </body>
</html>
